
.text-underline{
	text-decoration: underline;
}
input.error{

	/*outline: 2px red solid;*/
	border: 2px solid red;
}

span#idcard_error{
	color: red;
}

td.table-label{
	text-align: right;
	/*color: red;*/
	/*background-color: yellow;*/
	/*font-weight: bolder;*/
}

input[type='text']{
	/*color: red;*/
	padding: 5px;
}

select{
	padding: 5px;
}

select.error{
	border: 3px red solid;
}

div.error span{
	/*height: 100px;*/
	/*border: 1px solid red;*/
}

span#idcard_error{
	color: red;
}