
.text-underline{
	text-decoration: underline;
}
input.error{

	outline: 1px red solid;
}

span#idcard_error{
	color: red;
}

td.table-label{
	text-align: right;
	/*color: red;*/
	/*background-color: yellow;*/
	/*font-weight: bolder;*/
}

input[type='text']{
	/*color: red;*/
	padding: 5px;
}

select{
	padding: 5px;
}


